@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root{
    --main-color: #bfc8ef;
    --black-color: #000000;
    --border : 0.1rem solid rgba(255,255,255,0.4)


}

* {
    font-family: "Poppins", sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease; /*! hover geçişlerin daha yavaş olması için */
}


/*! html etiteti için */
html {
    font-size: 62.5%; /*! 1 rem = 10 piksel olması için */
    overflow-x: hidden; /*! ekranı sağ sol yapmasını önlemek */
    scroll-padding-top: 9rem;
    scroll-behavior: smooth; /*! kaydrma işleminde daha yumuşak geçiş sağlar. */

}

html::-webkit-scrollbar {   /*! kaydırma kısmı */
    width: 0.8rem;
    background-color: #ffffff;
}
html::-webkit-scrollbar-thumb{  /*! içinde kayan boncuğu*/
    background-color: var(--black-color);
    border-radius: 3rem;
}





body{
    background-color: var(--main-color);
}

section{
    padding: 3.5rem 7%; /*! girilen her sağdan soldan kısımların aynı hizzada olabilmesi için. */

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    background-color: #ffdba8;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.64;
}

.heading {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #ffffff;

}

.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}
.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}




.logo img {
    height: 7rem;
}


/*! header start */
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #ffffff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0ox 0px 25px 2px rgb(0 0 0 / 75%);
    transform: scaleY(0);


  
}
.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);

}
.header .search-form input{
    width: 100%;

}


.header .logo img {
    height: 10rem;

}
.header {
    background-color: white;
    display: flex; /*! yan yana konuldu logo ile yazılar */
    align-items: center; /*! merkez hizzalama yapıldı */
    justify-content: space-between; /*! içerisindeki elemenetleri sola ortaya hizzalama yapıldı */
    padding: 0 7%; /*! sağdan soldan yüzde 7 lik yukarıdan aşağıdan yüzde 0 boşluk padding degeri */
    margin: 2rem 7%; /*! header olarak sağdan soldan yüzde 7 alttan üste 2 rem uzaklaştı*/
    border-radius: 30rem; /*! oval olmasını sağladı */
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75); /*! gölgelik*/
    position: sticky;
    top: 0;  /*! header en üstten görülmesi sağlandı ikisi ile */
    z-index: 1500; /*! öncelik daima en üsttün olsun önüne bişey kapatmasın */
}

.header .navbar a{
    margin: 0 1rem;
    padding: 0.2rem;
    font-size: 1.9rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover{
    border-color:var(--main-color) ;
    padding-bottom: 0.5rem;

}

.header .buttons button{
    
    margin-left: 2rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
    color: var(--black-color);

    
}

.header #menu-btn{
    display: none;

}

/*! header end */


/*! home start*/
.home{
    min-height: 100vh; /*! tarayıcıdagörülen yerin tamımını kapsar */
    background: url(../images/arkaplan.png) no-repeat ;
    background-size:cover ;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 60rem;

}
.home .content h3 {
    font-size: 4.7rem ;
    text-transform: uppercase;
    color:rgb(161, 62, 62);
}

.home.content p{
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ff1818;


}
/*! home end*/


/*! trend menü start*/
    .popüler-yemek .box-container{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
        gap:1.5rem; /*! box aralarında boşluk bıraktı */
    
    }
    .popüler-yemek .box-container .box {
        padding: 3rem;
        background-color: #ffffff;
        border-radius: 4rem;
        background-color: #ffffff;
        min-height: 53rem;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    }
    
    .popüler-yemek .box-container .box img{
        width: 100%;
        object-fit: cover;


    }
    .popüler-yemek .box-container .box .yiyecek-katagori{
        font-size: 1.2rem;
        text-transform: uppercase;

    }
    .popüler-yemek .box-container .box h3{
        font-size: 3rem;
        padding: 1rem;

    }

    

/*! trend menü end*/
/*! ne pişirsem start*/
.ne-pisirsem .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap:1.5rem; /*! box aralarında boşluk bıraktı */

}

.ne-pisirsem .box-container .box{
    padding: 3rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 4rem;
    background-color: #ffffff;
    min-height: 53rem;
    
    
    display: flex;
    

}

.ne-pisirsem .box-container .box img{
    width: 100%;
    object-fit: cover;


}

.ne-pisirsem .box-container .box h3{
    font-size: 3rem;
    padding: 1rem;

}

.ne-pisirsem .box-container .buyuk {
    flex: 1;
    /* İsteğe bağlı: İçerikleri ortalamak için kullanılabilir */
    display: flex;
    align-items: center;
    justify-content: center;
    /* İsteğe bağlı: Kenar boşlukları eklemek için kullanılabilir */
    padding: 10px;
    border: 1px solid #ccc;

}
.ne-pisirsem .box-container .kucuk {
    flex: 1;
    /* İsteğe bağlı: İçerikleri ortalamak için kullanılabilir */
    display: flex;
    align-items: center;
    justify-content: center;
    /* İsteğe bağlı: Kenar boşlukları eklemek için kullanılabilir */
    padding: 10px;
    border: 1px solid #ccc;
}
.ne-pisirsem .box-container .kucuk .alt{
    display: block;
}

.ne-pisirsem .box-container .kucuk .kucuk1 {
    /* İsteğe bağlı: Kenar boşlukları eklemek için kullanılabilir */
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50%;
    
  }
  .ne-pisirsem .box-container .kucuk .kucuk1 img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;


  }

.ne-pisirsem .box-container .kucuk .kucuk2 {
    /* İsteğe bağlı: Kenar boşlukları eklemek için kullanılabilir */
    padding: 10px;
    border: 1px solid #ccc;
  }

  .yan {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .yan1, .yan2 {
    /* İsteğe bağlı: Kenar boşlukları eklemek için kullanılabilir */
    padding: 10px;
    border: 1px  #ccc;
  }
  


/*! ne pişirsem end*/

/*! sosyal medya start*/

.social-medya{
    margin: 0;
    padding: 3;
}

.social-medya  img{
    width: 7rem;
    height: 7rem;
    max-width: 100%;
    padding: 0.1rem;
    display: flex;
    
    
}

.social-medya .instagram{
    display: flex;
}

.social-medya .instagram .image-instagram{
    flex: 0 0 auto;
}

.social-medya .instagram .text-instagram{
    flex: 1;
    padding: 2rem;
    font-size: 1.8rem;
}
.social-medya .instagram a{
    font-size: 1.8rem;
    color: var(--black-color);
    text-decoration: underline;
}

.social-medya .twitter{
    display: flex;
}

.social-medya .twitter .image-twitter{
    flex: 0 0 auto;
}

.social-medya .twitter .text-twitter{
    flex: 1;
    padding: 2rem;
    font-size: 1.8rem;
}
.social-medya .twitter a{
    font-size: 1.8rem;
    color: var(--black-color);
    text-decoration: underline;
}

.social-medya .facebook{
    display: flex;
}

.social-medya .facebook .image-facebook{
    flex: 0 0 auto;
}

.social-medya .facebook .text-facebook{
    flex: 1;
    padding: 2rem;
    text-decoration: none;
    
    font-size: 1.8rem;
}
.social-medya .facebook a{
    font-size: 1.8rem;
    color: var(--black-color);
    text-decoration: underline;
}



/*! sosyal medya end*/

    
/*! biz kimiz start*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .row .image{
    flex: 1 1 45rem;

}


.about .row img{
    width: 100%;

}
.about .row .content{
    flex:1 1 45rem;
}
.about .row .content h3 {
    font-size: 3rem;
    color:#ffffff;

}

.about .row .content p{
    font-size: 1.6rem;
    color: #656565;
    padding: 1rem 0;
    line-height: 1.8;

}


/*! biz kimiz end*/

/*! yorum start*/
.review .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap:1.5rem; /*! box aralarında boşluk bıraktı */}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #ffffff;
    border-radius: 3rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
    
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;

}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);

}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: gold ;
}

/*! yorum end*/

/*! biz kimiz start*/


/*! blog start*/
.blog .box-container {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap:1.5rem; /*! box aralarında boşluk bıraktı */
}
.blog .box-container .box{
    background-color: #ffffff;
    border-radius: 3rem;

}

.blog .box-container .box .image{
    height: 25rem;
    overflow:hidden ;
    width: 100%;

}
.blog .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

}

.blog .box-container .box:hover .image img{
    transform: scale(1.2); /*! imgeci yaklaştırdığımızda resim 1.2 oranında büyüyor */
}


.blog .box-container .box .content {
    padding: 2rem;

}

.blog .box-container .box .content .title{
    line-height: 1.5;
    font-size: 2.5rem;
}
.blog .box-container .box .content .span{
    display: block;
    padding-top: 1rem;
    font-size: 1.9rem;
}

.blog .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #9f9191;
}


/*! blog end */

/*! footer start*/
.footer{
    background-color: var(--black-color);
    text-align: center;
    

}
.footer .search{
    display: flex;
    justify-content: center;

}

.footer .search .search-input{
    width: 30rem;
}
.footer .search .btn-primary{
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 2rem;

}

.footer .share{
    padding: 2rem 0;


}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color:#ffffff;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
}
.footer .share a:hover{
    background-color: var(--main-color);

}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem; /*! aralarındaki boşluk 10 piksel */
    
}

.footer .links a{
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #ffffff;
    font-size: 1rem;
    
    
}

.footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
}

.footer .links a.active {
    background-color: var(--black-color);
}


/*! footer end*/


/*! responsive start */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    .header .logo img{
        height: 7rem;

    }
    section{
        padding: 2rem;
    }

    .products .box-container .box .box-head .name {
        font-size: 3.4rem;

    }

}

@media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
  
    .header .navbar {
      position: absolute;
      top: 95%;
      background-color: #fff;
      height: calc(100vh - 9rem);
      width: 30rem;
      box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
      right: -100%;
    }
  
    .header .navbar.active {
      right: 3rem;
    }
  
    .header .navbar a {
      color: var(--black-color);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }
@media (max-width: 576px) {
    html {
      font-size: 50%;
    }
  
    .header .search-form {
      width: 30rem;
    }
    .header #menu-btn {
        display: inline-block;
    }
  }

/*! responsive end */



  
  

/*! tarifler */



.yemek .tarif_adi{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.yemek .tarif_adi .foto{
    flex: 1 1 45rem;
    padding: 1rem;

}
.yemek .tarif_adi .foto h4{
    font-size: 1.3rem;
    color:#918b8b;
    text-transform: uppercase;

    
}


.yemek .tarif_adi img{
    width: 100%;
    padding: 2rem;

}

.yemek .tarif_adi .tarif span{
    font-size: 1.7rem;
    color: #000000;
    padding: 0.6rem 0;
    line-height: 1.8;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;

    
    
}

.yemek h2{
    font-size: 4rem;
    font-weight: bolder;
    
    font-style:unset;
    text-decoration: underline;
    text-transform: uppercase;

}

.yemek .tarif_adi .tarif{
    flex:1 1 45rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 3rem;
}
.yemek .tarif_adi .tarif h3 {
    font-size: 2.1rem;
    color:var(--black-color);

}

.yemek .tarif_adi .tarif p{
    font-size: 1.6rem;
    color: #656565;
    padding: 0.7rem 0;
    line-height: 1.8;

}

.yemek .tarif_adi .tarif ul,
.yemek .tarif_adi .tarif ol {
  font-size: 1.4rem;
  color: #000000;
  padding: 0.4rem 5rem;
  line-height: 1.8;
}

.yemek .tarif_adi .tarif li {
  font-size: 1.4rem;
  color: #000000;
  padding: 0.4rem ;
  line-height: 1.8;
}


/*! MENÜ KSIMI */

.popüler-yemek .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap:1.5rem; /*! box aralarında boşluk bıraktı */

}
.popüler-yemek .box-container .box1 {
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 4rem;
    background-color: #ffffff;
    min-height: 27rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}



.popüler-yemek .box-container .box1 h2{
    font-size: 3rem;
    padding: 1rem;
    color: #004cff;
    text-decoration: underline;
    text-transform: uppercase
    ;

}

.popüler-yemek .box-container .box1 p,
.popüler-yemek .box-container .box1 a{
    font-size: 2.2rem;
    padding: 1rem;
    color: var(--black-color);
}


.blog .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap:1.5rem; /*! box aralarında boşluk bıraktı */

}
.blog .box-container .box {
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 4rem;
    background-color: #ffffff;
    min-height: 53rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.blog .box-container .box img{
    width: 100%;
    object-fit: cover;


}

.blog .box-container .box h3{
    font-size: 3rem;
    padding: 1rem;

}
.blog .box-container .box h4{
    text-transform: capitalize;
    font-size: 2.5rem;
    color: #b15e10ec;
    
}
.blog .box-container .box h5{
    text-transform: capitalize;
    font-size: 2.2rem;
    
    
}
.blog .box-container .box p,ul,li{
    font-size: 1.7rem;

}






        



